* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

#header {
  height: 100vh;
  background-image: url(../images/background1.png);
  background-position: center;
  background-size: cover;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo {
  width: 120px;
  margin-top: 30px;
}

.header-text {
  max-width: 440px; /* 350px; */
  margin-top: 140px;
}

.header-text h1 {
  font-size: 32px;
  font-weight: 600;
}

.square {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #5D66D3;
  margin: 15px 0;  
}

.header-text p {
  font-size: 22px;
  line-height: 1.2;
  color: #777;
}

.btn-enroll {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #5D54A4;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 40px;  
  color: #5D54A4
}

.square-group span {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.square-1 {  
  background: #5D66D3;
}

.square-2 {  
  background: #5D54A4;
}

.square-3 {  
  background: #4F5F81;
}

/* .line-1 {
  width: 15px;
  height: 15px;
  background: #5D66D3;
  display: inline-block
} */
