* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

#header {
  height: 100vh;
  background-image: url(../images/background1.png);
  background-position: center;
  background-size: cover;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo {
  width: 120px;
  margin-top: 30px;
}

.header-text {
  max-width: 440px; /* 350px; */
  margin-top: 140px;
}

.header-text h1 {
  font-size: 32px;
  font-weight: 600;
}

.square {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #5D66D3;
  margin: 15px 0;  
}

.header-text p {
  font-size: 22px;
  line-height: 1.2;
  color: #777;
}

.btn-enroll {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #5D54A4;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 40px;  
  color: #5D54A4
}

.square-group span {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.square-1 {  
  background: #5D66D3;
}

.square-2 {  
  background: #5D54A4;
}

.square-3 {  
  background: #4F5F81;
}

.line-group {     
  margin-top: 10px;      
}

.line-group span {
  display: block;
  border: 1px solid #000;
}

.line-1 {    
  width: 20%;  
}

.line-2 {      
  width: 15%;
  margin: 10px 0;
}

.line-3 {  
  width: 10%;  
}

/* Menu */
#side-nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #895adc;
  z-index: 2;
  transition: .5s
}

nav ul li {
  list-style: none;
  margin: 30px 20px;   
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

#menu-btn {  
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

.menu-btn {
  width: 50px;
  height: 50px;    
  background: #895adc;
  border: none;      
  padding: 9px
}

.menu-btn span {
  display: block;
  border: 2px solid #fff;        
}

.menu-btn .line-menu-1 {
  width: 10px;  
  margin-left: auto;
}

.menu-btn .line-menu-2 {
  width: 20px;  
  margin: 7px 0;
  margin-left: auto;
}

.menu-btn .line-menu-3 {
  width: 28px;  
}

/* About */
#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 50%;
}

.about-col-1 img {
  width: 100%;
}

.about-col-2 {
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

.about-col-2 .line-group {  
  position: relative;  
  margin-top: 0;
}

.about-col-2 .line-group span {
  position: absolute;
  right: 0;  
}

.about-col-2 h2 {
  font-size: 32px;
}

.about-col-2 p {
  font-size: 22px;
}

.about-col-2 blockquote {
  margin-top: 50px;
  font-style: italic;
}

/* Features */
.features {
  padding: 50px 0;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-col {
  flex-basis: 25%;
  text-align: center;
}

.feature-col img {
  width: 50%;
  margin-bottom: 20px;
}

.feature-col h4 {
  font-size: 23px;
  margin-bottom: 18px;
  font-weight: 800;
}

.feature-col p {
  font-size: 23px;
}

.feature-btn {  
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.feature-btn .line-group-one {
  margin-right: 25px;  
}

.feature-btn .square {  
  margin-top: 45px;   
}

.feature-btn .line-group-one .square {  
  margin-left: 90px;
}

.feature-btn span {
  display: block;
  border: 1px solid #000;
}

.feature-btn .line-group-one span {
  margin-left: auto;  
}

.feature-btn .line-1 {
  width: 105px;
}

.feature-btn .line-2 {
  width: 79px;
}

.feature-btn .line-group-two {
  margin-left: 25px;  
}

